.timeStamp {
  display: flex;
  width: max-content;
  align-items: center;
  justify-content: center;

  position: absolute;
  right: 5px;
  bottom: 5px;

  font-size: 12px;
  font-weight: bold;

  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1px 5px 0 5px;
  border-radius: 2px;
}
