.sidebarClosed {
  width: max-content;
}

.itemContainer {
  display: flex;
  width: 70px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--paddingM) var(--paddingXL);
}

.itemContainer:hover {
  background-color: var(--hoverSBmenu);
  cursor: pointer;
}

.itemIcon {
  display: flex;
  align-items: center;
  font-size: 22px;
  color: var(--sbIcon);
}

.itemName {
  font-size: 10px;
}
