.sidebarClosed {
  width: 70px;
}

.itemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--paddingS) var(--paddingXL);
}

.itemContainer:hover {
  background-color: var(--hoverSBmenu);
}

.itemIcon {
  display: flex;
  align-items: center;
  font-size: 22px;
  color: var(--sbIcon);
  margin-bottom: 3px;
}

.itemName {
  font-size: 10px;
}
