.categoriesRow {
  background-color: white;
  grid-row: 2/3;
  grid-column: 2/-1;
  display: flex;
  position: sticky;

  font-size: 14px;
  height: var(--headerHeight);
  align-items: center;
  justify-content: center;

  border-top: 1px solid var(--lightBorder);
  border-bottom: 1px solid var(--lightBorder);
}

.categoryButton {
  background-color: var(--btnBg);
  white-space: nowrap;
  padding: 5px 15px;
  margin-right: 10px;
  border-radius: 20px;
  border: 1px solid var(--lightBorder);
  border-width: thin;
}

.categoryButton:hover {
  filter: brightness(0.96);
}
