.categoriesContainer {
  background-color: white;
  grid-row: 2/3;
  grid-column: 2/-1;
  display: flex;
  position: sticky;

  font-size: 14px;
  height: var(--headerHeight);
  align-items: center;
  border-top: 1px solid var(--lightBorder);
  border-bottom: 1px solid var(--lightBorder);
}

.row {
  width: auto;
  padding: 0 20px;
  margin: auto;
}

@media only screen and (max-width: 2340px) {
  .categoriesContainer {
    overflow-x: hidden;
  }
}

.categoryButton {
  background-color: var(--btnBg);
  white-space: nowrap;
  padding: 5px 15px;
  margin-right: 10px;
  border-radius: 20px;
  border: 1px solid var(--lightBorder);
  border-width: thin;
}

.categoryButton:hover {
  filter: brightness(0.96);
}
