.feedContainer {
  grid-row: 3/4;
  grid-column: 2/3;

  display: flex;
  flex-direction: column;
  justify-self: center;
  max-width: 855px;
}

.videoContainer {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 0 15px;
  padding-bottom: 15px;
}
