:root {
  /* colors */
  --btnBg: #f8f8f8;
  --icnClr: #5f5f5f;
  --hoverIcnClr: #5f5f5f;
  --borderClr: #d9d9d9;
  --lightBorder: #e4e4e4;
  --blue: #075ed3;

  --hoverColor: #e6e6e6;

  --hoverSBmenu: #f1f2f1;
  --sbIcon: #5f5f5f;
  --iconDark: #3f3f3f;
  --iconOnDark: #fefefe;

  --colorMediumDark: #606060;
  --colorLightText: #909090;

  /* paddings and margins */
  --paddingS: 10px;
  --paddingM: 16px;
  --paddingXL: 24px;

  --headerHeight: 56px;
}
