.menuRgt {
  display: grid;
  grid-template-columns: 50px 50px 120px;
  align-items: center;
  justify-items: center;

}

.iconButton {
  display: flex;
  cursor: pointer;
  align-items: center;
  font-size: 18px;
  color: var(--icnClr);
}


.headerSecondRow {
  grid-column: 2 / 4;
}
