.headerContainer {
  background-color: white;
  grid-column: 1/ -1;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 70px calc(100% - 70px);
  align-items: center;
  height: var(--headerHeight);
  position: sticky;
  top: 0;
  z-index: 2;
}

.headerMenu {
  grid-column: 1/2;
}

.headerMain {
  grid-column: 2/-1;
  display: grid;
  grid-template-columns: max-content 1fr auto;
}
