.menuRgt {
  display: grid;
  grid-template-columns: 50px 50px 120px;
  align-items: center;
  justify-items: center;
  padding-right: 20px;
}

@media only screen and (max-width: 935px) {
  .menuRgt {
    grid-template-columns: 50px 50px;
  }
}

@media only screen and (max-width: 730px) {
  .menuRgt {
    display: none;
  }
}

@media only screen and (max-width: 545px) {
  .menuRgt {
    display: none;
  }
}

.iconButton {
  display: flex;
  cursor: pointer;
  align-items: center;
  font-size: 18px;
  color: var(--icnClr);
}

.headerSecondRow {
  grid-column: 2 / 4;
}
