.videoPlayer {
  width: 1280px;
  height: 720px;
}

@media only screen and (max-width: 2030px) {
  .videoPlayer {
    width: 1180px;
    height: 663.75px;
  }
}

@media only screen and (max-width: 1880px) {
  .videoPlayer {
    width: 1080px;
    height: 607.5px;
  }
}

@media only screen and (max-width: 1800px) {
  .videoPlayer {
    width: 900px;
    height: 506.25px;
  }
}

@media only screen and (max-width: 1620px) {
  .videoPlayer {
    width: 720px;
    height: 405px;
  }
}

@media only screen and (max-width: 845px) {
  .videoPlayer {
    width: 620px;
    height: 348.75px;
  }
}

@media only screen and (max-width: 750px) {
  .videoPlayer {
    width: 520px;
    height: 292.5px;
  }
}

@media only screen and (max-width: 635px) {
  .videoPlayer {
    width: 470px;
    height: 264.38px;
  }
}

@media only screen and (max-width: 590px) {
  .videoPlayer {
    width: 420px;
    height: 236.25px;
  }
}

@media only screen and (max-width: 520px) {
  .videoPlayer {
    width: 370px;
    height: 208.13px;
  }
}

@media only screen and (max-width: 455px) {
  .videoPlayer {
    width: 320px;
    height: 180px;
  }
}

@media only screen and (max-width: 400px) {
  .videoPlayer {
    width: 350px;
    height: 196.88px;
  }
}

@media only screen and (max-width: 360px) {
  .videoPlayer {
    width: 300px;
    height: 168.75px;
  }
}
