.playerPage {
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: max-content;

  justify-content: center;
  gap: 0 20px;
  padding: 20px;
}

@media only screen and (max-width: 1080px) {
  .playerPage {
    grid-template-columns: 1fr;
  }
}

.videoContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: max-content;
}
