.playerPage {
  grid-row: 2/4;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 1280px 250px;
  justify-content: center;
  gap: 0 20px;
  margin-top: 20px;

  margin-top: 20px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.homePageContainer::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}
